:local(.component) {
  .arena {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .loading {
    padding: 50px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-family: Helvetica Neue;
    font-weight: 100;

    span {
      margin-left: 10px;
    }
  }
}
